body,html {
    font-family: Arial, sans-serif;
    background-image: url('../recursos/calendario.png');
    background-repeat: no-repeat;
    background-size: 90%;
    margin: 0%;
    
}

.cabeza{
    display: flex;
    background-color: #000030 ;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    padding: 5px 10px;
}
.cabeza .logo:hover{
    transform: scale(1.2);
}
.cabeza .logo {
    transition: all 0.4s;
}

.calendarioC {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.headerCalendario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.headerCalendario button {
    background: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.headerCalendario button:hover {
    background: yellowgreen;
}

.diasCalendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.diasCalendario div {
    padding: 10px;
    background: #e9ecef;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.4s;

}
a{
    text-decoration: none;
    color: white;
}

.diasCalendario div.today {
    background: #28a745;
    color: #fff;
}

.diasCalendario div.event {
    background: #65e42a;
    color: #fff;
}

.selectorDeVistas {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.cerrar {
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.cerrar:hover {
    color: red;
}

.selectorDeVistas button {
    background-color: rgb(11, 87, 40);
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}


.agregarContenido input,
.agregarContenido textarea,
.agregarContenido select {
    margin: 10px 0;
    width: 100%;
}

.agregarContenido button {
    margin: 10px 0;
    width: 40%;
    padding: 12px;
    border-radius: 5px;
    background-color: yellowgreen;
    display: flex;
}

.contenidoDeAgregacion {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
}

.agregarContenido {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000030;
    padding: 10px;
    text-align: center;
    color: white;
}
